@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background: #ededed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    'Proxima Nova',
    -apple-system,
    Roboto,
    Arial,
    sans-serif;
}

@layer components {
  .btn-primary {
    @apply w-full rounded-lg bg-[#3483fa] py-3.5 text-white hover:cursor-pointer hover:bg-blue-600;
  }

  .btn-secondary {
    @apply w-full rounded-lg bg-[#e3edfb] py-3.5 text-[#3483fa] hover:cursor-pointer hover:bg-blue-100;
  }

  .action-link {
    @apply text-sm text-[#3483fa] hover:cursor-pointer hover:text-blue-600;
  }

  .section-title {
    @apply text-lg font-normal md:mb-1 md:text-2xl md:font-medium;
  }
}
